.bottom .img-box::before {
    position: absolute;
    display: block;
    content: '';
    width: 70%;
    height: 160%;
    background-color: var(--line-color);
    top: -30%;
    left: -1.5rem;
}
@media screen and (min-width: 1024px)  {
    .bottom .img-box::before {
        left: -10rem;
    }
}